<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {{d}}
    <table>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Roll NO</th>
      </tr>
      {% for i in d %}
      <tr>
        <td>{{i.Name}}</td>
        <td>{{i.Age}}</td>
        <td>{{i.Roll_No}}</td>
        <td><a href="{{url_for('editUser',id=i.Roll_No)}}">Edit</a></td>
        <td><a href="{{url_for('deleteUser',id=i.Roll_No)}}">Delete</a></td>
      </tr>
      {%endfor%}
    </table>
    <a href="{{url_for('addUser')}}">Add User</a>
  </body>
</html>
